/laserMapping:
  ros__parameters:

    common:
      lid_topic: "/utlidar/cloud"
      imu_topic: "/utlidar/imu"
      con_frame: false
      con_frame_num: 1
      cut_frame: false
      cut_frame_time_interval: 0.1
      time_lag_imu_to_lidar: 0.08

    preprocess:
      lidar_type: 5
      scan_line: 18
      timestamp_unit: 0
      blind: 0.5

    mapping:
      imu_en: true
      start_in_aggressive_motion: false
      extrinsic_est_en: false
      imu_time_inte: 0.004
      satu_acc: 30.0
      satu_gyro: 35.0
      acc_norm: 9.81
      lidar_meas_cov: 0.01
      acc_cov_output: 500.0
      gyr_cov_output: 1000.0
      b_acc_cov: 0.0001
      b_gyr_cov: 0.0001
      imu_meas_acc_cov: 0.1
      imu_meas_omg_cov: 0.1
      gyr_cov_input: 0.01
      acc_cov_input: 0.1
      plane_thr: 0.1
      match_s: 81.0
      fov_degree: 180.0
      det_range: 100.0
      gravity_align: true
      gravity: [0.0, 0.0, 9.810] # for go2
      gravity_init: [3.605, 0.021, 9.527] # for go2

      extrinsic_T: [0.007698, 0.014655, -0.00667]
      extrinsic_R: [1.0, 0.0, 0.0,
                    0.0, 1.0, 0.0,
                    0.0, 0.0, 1.0]

    odometry:
      publish_odometry_without_downsample: false

    publish:
      path_en: true
      scan_publish_en: true
      scan_bodyframe_pub_en: false

    pcd_save:
      pcd_save_en: true
      interval: -1
